
header {
  position: fixed; /* Mantiene el encabezado fijo en la parte superior */
  top: 0; /* Alinea el encabezado en la parte superior */
  left: 0; /* Alinea el encabezado a la izquierda */
  right: 0; /* Alinea el encabezado a la derecha */
  z-index: 50; /* Asegúrate de que esté por encima de otros elementos */
}
